@charset "UTF-8";
/* CSS Document */

@keyframes left-to-right{
	from {
		left:0;
	}
	to{
		left:570px;
	}
}

.img{
	animation-name:left-to-right;
	position:relative;
	animation-direction:1s;
	animation-timing-function:ease;
}